<!doctype html>
<html class="no-js" ng-app="ngApp">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Amaze UI Admin table Examples</title>
		<meta name="description" content="这是一个 table 页面">
		<meta name="keywords" content="table">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="icon" type="image/png" href="assets/i/favicon.png">
		<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
		<meta name="apple-mobile-web-app-title" content="Amaze UI" />
		<link rel="stylesheet" href="assets/css/amazeui.min.css" />
		<link rel="stylesheet" href="assets/css/admin.css">
	</head>

	<body ng-controller="tableCtrl">
		<!--[if lte IE 9]>
		<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
		  以获得更好的体验！</p>
		<![endif]-->

		<header class="am-topbar am-topbar-inverse admin-header">
			<div class="am-topbar-brand">
				<strong>拉勾招聘</strong> <small>后台管理模板</small>
			</div>

			<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

			<div class="am-collapse am-topbar-collapse" id="topbar-collapse">

				<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
					<li>
						<a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a>
					</li>
					<li class="am-dropdown" data-am-dropdown>
						<a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
							<span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
						</a>
						<ul class="am-dropdown-content">
							<li>
								<a href="#"><span class="am-icon-user"></span> 资料</a>
							</li>
							<li>
								<a href="#"><span class="am-icon-cog"></span> 设置</a>
							</li>
							<li>
								<a href="#"><span class="am-icon-power-off"></span> 退出</a>
							</li>
						</ul>
					</li>
					<li class="am-hide-sm-only">
						<a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a>
					</li>
				</ul>
			</div>
		</header>

		<div class="am-cf admin-main">
			<!-- sidebar start -->
			<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
				<div class="am-offcanvas-bar admin-offcanvas-bar">
					<ul class="am-list admin-sidebar-list">
						<li>
							<a href="admin-index.html"><span class="am-icon-home"></span> 首页</a>
						</li>
						<li class="admin-parent">
							<a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 页面模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
							<ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
								<li>
									<a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 公司资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a>
								</li>
								<li>
									<a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 帮助页</a>
								</li>
								<li>
									<a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a>
								</li>
								<li>
									<a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a>
								</li>
								<li>
									<a href="admin-404.html"><span class="am-icon-bug"></span> 404</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="admin-table.html"><span class="am-icon-table"></span> 表格</a>
						</li>
						<li>
							<a href="../fuwenben/ueditor-1.4.3.3/_examples/completeDemo.html"><span class="am-icon-pencil-square-o"></span> 富文本编辑</a>
						</li>
						<li>
							<a href="#"><span class="am-icon-sign-out"></span> 注销</a>
						</li>
					</ul>

					<div class="am-panel am-panel-default admin-sidebar-panel">
						<div class="am-panel-bd">
							<p><span class="am-icon-bookmark"></span> 公告</p>
							<p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
						</div>
					</div>

					<div class="am-panel am-panel-default admin-sidebar-panel">
						<div class="am-panel-bd">
							<p><span class="am-icon-tag"></span> wiki</p>
							<p>Welcome to the Amaze UI wiki!</p>
						</div>
					</div>
				</div>
			</div>
			<!-- sidebar end -->

			<!-- content start -->
			<div class="admin-content">
				<div class="admin-content-body">
					<div class="am-cf am-padding am-padding-bottom-0">
						<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> / <small>Table</small></div>
					</div>

					<hr>

					<div class="am-g">
						<div class="am-u-sm-12 am-u-md-6">
							<div class="am-btn-toolbar">
								<div class="am-btn-group am-btn-group-xs">
									<button type="button" class="am-btn am-btn-default" onclick='jump()'><span class="am-icon-plus"></span> 新增</button>
									<button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
									<button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
									<button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
								</div>
							</div>
						</div>
						<div class="am-u-sm-12 am-u-md-3">
							<div class="am-form-group">
								<select data-am-selected="{btnSize: 'sm'}" ng-model="type2">
									<option value=" ">所有类别</option>
									<option value="金融">金融</option>
									<option value="成熟型">成熟型</option>
									<option value="游戏">游戏</option>
									<option value="服务">服务</option>
									<option value="电子商务">电子商务</option>
									<option value="成长型">成长型</option>
								</select>
							</div>
						</div>
						<div class="am-u-sm-12 am-u-md-3">
							<div class="am-input-group am-input-group-sm">
								<input type="text" class="am-form-field" placeholder="输入搜索公司类型" ng-model="ctype">
								<span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button"  ng-click="search(ctype)">搜索</button>
          </span>
							</div>
						</div>
					</div>

					<div class="am-g">
						<div class="am-u-sm-12">
							<form class="am-form">
								<table class="am-table am-table-striped am-table-hover table-main">
									<thead>
										<tr>
											<th class="table-check"><input type="checkbox" /></th>
											<th class="table-id">ID</th>
											<th class="table-title">公司名</th>
											<th class="table-type">职位</th>
											<th class="table-author am-hide-sm-only">薪资</th>
											<th class="table-date am-hide-sm-only">类型</th>
											<th class="table-set">操作</th>
										</tr>
									</thead>
									<tbody>
<!-- 
	通过这种方式过滤有一点问题：
	1.变量html（从后台返回的数据）有很多信息没渲染到页面上
	2.这种方式的过滤会读取到html（item）中的所有信息(包括没渲染出来的)，这样就会导致搜索关键字时，搜索页面上没有的关键字也有可能会有相应的数据显示，因为该关键字可能在改数据未渲染的部分存在

 -->
										<tr ng-repeat="item in html|filter:type|filter:type2>
										  <td><input type="checkbox"></td>
										  <td class="idNum">{{item.id}}</td>
										  <td><a href="#">{{item.company}}</a></td>
										  <td>{{item.position_name}}</td>
										  <td class="am-hide-sm-only">{{item.salary}}</td>
										  <td class="am-hide-sm-only">{{item.industry}}</td>
										  <td>
										    <div class="am-btn-toolbar">
										      <div class="am-btn-group am-btn-group-xs">
										        <button class="am-btn am-btn-default am-btn-xs am-text-secondary btn-change"><span class="am-icon-pencil-square-o"></span> 编辑</button>
										        <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
										        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only btn-del"><span class="am-icon-trash-o"></span> 删除</button>
										      </div>
										    </div>
										  </td>
										</tr>
									</tbody>
								</table>
								<div class="am-cf">
									共 <i>15</i> 条记录
									<div class="am-fr">
										<ul class="am-pagination">
											<li class="am-disabled">
												<a href="#">«</a>
											</li>
											<li ng-class="{'am-active':num==1}">
												<a href="#" ng-click="change(1)">1</a>
											</li>
											<li ng-class="{'am-active':num==2}">
												<a href="#" ng-click="change(2)">2</a>
											</li>
											<li ng-class="{'am-active':num==3}">
												<a href="#" ng-click="change(3)">3</a>
											</li>
											<li ng-class="{'am-active':num==4}">
												<a href="#" ng-click="change(4)">4</a>
											</li>
											<li ng-class="{'am-active':num==5}">
												<a href="#" ng-click="change(5)">5</a>
											</li>
											<li>
												<a href="#">»</a>
											</li>
										</ul>
									</div>
								</div>
								<hr />
								<p>注：.....</p>
							</form>
						</div>

					</div>
				</div>

				<footer class="admin-content-footer">
					<hr>
					<p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
				</footer>

			</div>
			<!-- content end -->
		</div>

		<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

		<footer>
			<hr>
			<p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
		</footer>

		<!--[if lt IE 9]>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
		<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
		<![endif]-->

		<!--[if (gte IE 9)|!(IE)]><!-->
		<script src="assets/js/jquery.min.js"></script>
		<!--<![endif]-->
		<script src="assets/js/amazeui.min.js"></script>
		<script src="assets/js/app.js"></script>
	</body>

</html>
<script src="../lib/angular.js"></script>
<script>
	/*var num = 1;
	var qty = 10;*/


	// angular改写----------------------------------
	var app = angular.module('ngApp',[]);
	app.controller('tableCtrl',function($scope,$http){
		$scope.num = 1;
		$scope.qty = 10;
		$scope.change = function(n){
			$scope.num = n;
			$scope.type = '';
			$scope.ctype = '';
			$scope.type2 = ' ';
			$scope.showHtml();
		}
		$scope.search = function(a){
			$scope.type = a;
		}
		$scope.showHtml = function(){
            $http({
                method:'post',
                url:'http://localhost:666/table',
                data:{
                    pageNo: $scope.num,
					qty: $scope.qty
                },
                headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				transformRequest:function(obj){
					var str = [];
					for(var p in obj){
						str.push(encodeURIComponent(p)+'='+encodeURIComponent(obj[p]));
					}
					return str.join("&");
				}
            }).then(function(data){
                console.log(data);
                $scope.html = data.data.msg;
                console.log($scope.html)

            },function(error){
            	console.log('请求失败')
            })
        }
        $scope.showHtml();
        $scope.type = '';
        $scope.type2 = ' ';
       /* setInterval(function(){
        	console.log($scope.type)
        },1000)*/
        
	})

	/*function showHtml() {
		$.ajax({
			url: 'http://localhost:666/table',
			type: 'post',
			async: true,
			data: {
				pageNo: num,
				qty: qty
			},
			success: function(data) {
				// console.log(data);
				var item = data.msg;
				mgsShow(item);
				$('.am-form div.am-cf i').text(qty);

				//--------------- 高亮显示当前页码---------------
				$('.am-pagination li').removeClass('am-active');
				var $pagination = $('.am-pagination a');
				for(var i = 0; i < $pagination.length; i++) {
					if($pagination.eq(i).text() == num) {
						// console.log($pagination.eq(i))
						$pagination.eq(i).closest('li').addClass('am-active');
					}
				}

				//---------- 修改按钮----------------------------------
				$('.btn-change').click(function() {
					var id = $(this).closest('tr').children('.idNum').text();
					console.log(id);
					location.href = 'change.html?id=' + id;
					// 阻止浏览器默认行为，防止页面无法正常跳转
					return false;
				})
				// ------------删除按钮------------------------------
				$('.btn-del').click(function() {
					var id = $(this).closest('tr').children('.idNum').text();
					console.log(id);
					$.ajax({
						url: 'http://localhost:666/del',
						type: 'post',
						async: true,
						data: {
							id: id
						},
						success: function(data) {
							// console.log(data);
							// 数据库删除成功，删除当前html
							$(this).closest('tr').remove();
							// 删除后刷新页面
							showHtml();
						}
					})
					// return false;
				})

			}
		})
	}
	showHtml();*/

	// 点击页码实现跳转
	/*$('.am-pagination').on('click', 'a', function() {
		// console.log(this.innerText);
		num = this.innerText;
		showHtml();
	})

	function jump() {
		location.href = 'admin-user.html';
	}
*/
	// -------点击搜索按钮显示搜索结果-------------------------
	// -------------------------------------------------
	/*$('.am-input-group-btn').click(function() {
		var msg = $('.am-form-field').val();
		if(msg) {
			$.ajax({
				url: 'http://localhost:666/table_search',
				type: 'post',
				async: true,
				data: {
					msg: msg
				},
				success: function(data) {
					console.log(data);
					mgsShow(data);
					$('.am-form div.am-cf').hide();

					//---------- 修改按钮----------------------------------
					$('.btn-change').click(function() {
						var id = $(this).closest('tr').children('.idNum').text();
						console.log(id);
						location.href = 'change.html?id=' + id;
						// 阻止浏览器默认行为，防止页面无法正常跳转
						return false;
					})
					// ------------删除按钮------------------------------
					$('.btn-del').click(function() {
						var id = $(this).closest('tr').children('.idNum').text();
						console.log(id);
						$.ajax({
							url: 'http://localhost:666/del',
							type: 'post',
							async: true,
							data: {
								id: id
							},
							success: function(data) {
								// console.log(data);
								// 数据库删除成功，删除当前html
								$(this).closest('tr').remove();
								// 删除后刷新页面
								showHtml();
							}
						})
						// return false;
					})

				}
			})
		} else {
			$('.am-form-field').attr('placeholder', '输入不得为空')
		}
		console.log(msg);
	})*/

	// 封装页面生成html结构
	/*function mgsShow(data) {
		var html = '';
		html += data.map(function(item) {
			return `
        <tr>
          <td><input type="checkbox"></td>
          <td class="idNum">${item.id}</td>
          <td><a href="#">${item.company}</a></td>
          <td>${item.position_name}</td>
          <td class="am-hide-sm-only">${item.salary}</td>
          <td class="am-hide-sm-only">${item.industry}</td>
          <td>
            <div class="am-btn-toolbar">
              <div class="am-btn-group am-btn-group-xs">
                <button class="am-btn am-btn-default am-btn-xs am-text-secondary btn-change"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only btn-del"><span class="am-icon-trash-o"></span> 删除</button>
              </div>
            </div>
          </td>
        </tr>
      `;
		}).join('');
		$('.am-form tbody').html(html);
	}


	$('#am-selected-55os8').click(function(){
		cosnole.log()
	})*/
</script>