<!-- banner -->
<div class="banner base clear">
	<div class="b_xq">
		<div class="xq_list clear">
			<a href="http://www.qfedu.com/" target="_blank">北京校区</a>
			<a href="http://sz.qfedu.com/" target="_blank">深圳校区</a>
			<a href="http://dl.qfedu.com/" target="_blank">大连校区</a>
			<a href="http://wh.qfedu.com/" target="_blank">武汉校区</a>
			<a href="http://gz.qfedu.com/" target="_blank">广州校区</a>
			<a href="http://zz.qfedu.com/" target="_blank">郑州校区</a>
			<a href="http://cd.qfedu.com/" target="_blank">成都校区</a>
			<a href="http://xa.qfedu.com/" target="_blank">西安校区</a>
			<a href="http://hz.qfedu.com/" target="_blank">杭州校区</a>
			<a href="http://qd.qfedu.com/" target="_blank">青岛校区</a>
			<a href="http://sh.qfedu.com/" target="_blank">上海校区</a>
			<a href="http://www.qfedu.com/topic/cq-javaee/" target="_blank">重庆校区</a>
			<a href="http://www.qfedu.com/topic/cs_javaee/" target="_blank">长沙校区</a>
		</div>
		<div class="xq_call">
			<img src="./千锋教育 - 中国IT职业教育领先品牌_files/xq_img1.png">
			<div>
				<i>400-654-7778</i>
			</div>
			<a href="http://tb.53kf.com/code/client/10132404/3" target="_blank">点击申请</a>
		</div>
	</div>
	<div class="b_left">
		<div id="slideBox" class="slideBox">
			<div class="bd">
				<ul>
					<li>
						<a href="http://www.mobiletrain.org/topic/h5_tengxun/" target="_blank"><img src="./千锋教育 - 中国IT职业教育领先品牌_files/e5db669ce721ce7f5f4fd6669db507d8.jpg"></a>
					</li>
					<li>
						<a href="http://www.qfedu.com/topic/linux/?" target="_blank"><img src="./千锋教育 - 中国IT职业教育领先品牌_files/6168548bc7207e349317ede82e7b7e6f.jpg"></a>
					</li>
					<li>
						<a href="http://www.qfedu.com/cooperation/lagou/?&amp;" target="_blank"><img src="./千锋教育 - 中国IT职业教育领先品牌_files/44158e06d58a11cef7c1f2998a3c618d.jpg"></a>
					</li>
					<li>
						<a href="http://www.qfedu.com/topic/cq-javaee/?" target="_blank"><img src="./千锋教育 - 中国IT职业教育领先品牌_files/6eb5dba256c85fa03492330aaaddbfa5.jpg"></a>
					</li>
					<li>
						<a href="http://www.qfedu.com/about/news/1311.html" target="_blank"><img src="./千锋教育 - 中国IT职业教育领先品牌_files/5b9d803ae184174068595cbd97800f7d.jpg"></a>
					</li>
					<li>
						<a href="http://www.qfedu.com/about/news/1557.html" target="_blank"><img src="./千锋教育 - 中国IT职业教育领先品牌_files/bc359aadee04bb66ef6b8501f695eb5e.jpg"></a>
					</li>
					<li>
						<a href="http://www.qfedu.com/about/news/1411.html" target="_blank"><img src="./千锋教育 - 中国IT职业教育领先品牌_files/7ed4c0517c32b32184b13554ae6e90da.jpg"></a>
					</li>
				</ul>
			</div>
			<div class="hd b_right">
				<ul>
					<li>
						<a href="http://www.mobiletrain.org/topic/h5_tengxun/" target="_blank">· 千锋联合腾讯打造线上H5课程</a>
					</li>
					<li>
						<a href="http://www.qfedu.com/topic/linux/?" target="_blank">· 千锋Linux云计算培训发布会</a>
					</li>
					<li>
						<a href="http://www.qfedu.com/cooperation/lagou/?&amp;" target="_blank">· 千锋携手拉勾 开通VIP求职通道</a>
					</li>
					<li>
						<a href="http://www.qfedu.com/topic/cq-javaee/?" target="_blank">· 千锋教育“亮剑”山城重庆</a>
					</li>
					<li>
						<a href="http://www.qfedu.com/about/news/1311.html" target="_blank">· 教育部产学合作协同育人项目</a>
					</li>
					<li>
						<a href="http://www.qfedu.com/about/news/1557.html" target="_blank">· 千锋2017年6月月薪过万191名</a>
					</li>
					<li>
						<a href="http://www.qfedu.com/about/news/1411.html" target="_blank">· 千锋2017年5月共就业582人</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>